<div class="proyectos container fondo">
    <h2 class="titulo subTitulos">PROYECTOS</h2>

    <hr class="text-white">
    <div class="row">
        <div *ngFor="let proyecto of informacionProyectos" class="contenedorProyectos col-sm-12 col-md-6 col-lg-6">
            <div>
                <h2 class="text-white d-inline">{{proyecto.nombre}}</h2>
            
            </div>
            
            <div>
            
                <p class="text-white">{{proyecto.descripcion}}</p>
            </div>

            <a [href]="proyecto.url" target="_blank">CLICK AQUI</a>
            <div>
            
                <img [src]="proyecto.imagen" class="imagenProyectos">
            </div>
        </div>
    </div>
</div>