<header>
    <nav class="navbar navbar-expand-lg bg-none container">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">SZeniquel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link text-white p-3" [href]="informacionNavbar.redes[0].instagram" target="_blank">Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white p-3" [href]="informacionNavbar.redes[0].linkedin"  target="_blank">Linkedin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white p-3" [href]="informacionNavbar.redes[0].whatsapp"  target="_blank">Whatsapp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white p-3" [href]="informacionNavbar.redes[0].github"  target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>