/*----------Sobre Mi------------*/


.contenedorPerfil{
    text-align: center;
}

.nombrePerfil{
    font-size: 70px;
    word-wrap: break-word;
}

.contenedorPerfil img{
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
}

.descripcionPerfil{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedorDatos h3{
    font-size: 30px;
}

.iconoSobreMi2{
   position: absolute;
   margin-top: 170px;
   margin-left: -20px;
}