<section class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img [src]="informacionBanner.banner[0].banner1" class="d-block" alt="Banner">
            </div>
            <div class="carousel-item">
                <img [src]="informacionBanner.banner[0].banner2" class="d-block" alt="Banner">
            </div>
        </div>
    </div>


</section>