*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(./assets/fondo-1.svg);
   
}

.subTitulos{
    font-size: 50px;
    text-align: center;
    word-wrap: break-word;
}

.titulo{
    background: linear-gradient(147deg, #ff6b01, #fd3838);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px #ff6b01;
}

.fondo{
    background-color: rgba(50, 50, 50, .2);
    border-radius: 20px;
}

.iconos{
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .2);
    cursor: pointer;
}